<link href="/css/designer-canvas.css" rel="stylesheet" />
<title>Designer for {% tmpl_var designer-title %}</title>
<div id="designer">
  {% tmpl_include "picture-selector.html" %}
  <h2 class="designer-name">{% tmpl_var picture-title %}</h2>
  {% tmpl_if picture-description %}
  <h3 class="designer-info">{% tmpl_var picture-description %}</h3>
  {% /tmpl_if %}
  {% tmpl_include "layers.html" %}
  <div id="designer-image">
    <img src="{% tmpl_var site-url %}/image" />
  </div>
  <div class="clear">&nbsp;</div>
</div>
<script type="text/javascript" src="{% tmpl_var site-url %}/js/jquery-1.4.4.js"></script>
<script type="text/javascript" src="{% tmpl_var site-url %}/js/designer.js"></script>
